{% extends "layout.html" %}

{% block page_title %}
    Applicants list
{% endblock %}

{% block content %}
    <div id="applicants">
        {% for applicant in applicants %}
          Name: {{ applicant.first_name + ' ' + applicant.last_name }},
          Phone number:  {{ applicant.phone_number}},
          Email:  {{applicant.email }},
          Application code:  {{ applicant.application_code }}
            <a href="/applicants/{{ applicant.application_code }}">Edit</a><br><br>
        {% endfor %}
        <form action="{{ url_for('applicants_list') }}" method="post">
            <label for="email-input">Delete applicant:</label>
            <input type="text" id="email-input" name="email-ending">
            <button type="submit">Submit</button>
        </form>
    </div>
    {% include 'footer.html' %}
{% endblock %}